body{
    font-family: sans-serif;
}
nav {
  text-align: right;
  margin-top: 2em;
  font-size: 0.9em;

}
nav a{
  text-decoration: none;
  padding: 1em;
  color: #5badf0;
  border-radius: 5px;
  transition: color 0.5s;
}

nav a:not(:last-child):hover{
  background-color: #4361b3;
}

nav a:last-child{
background: #5badf0;
Color: white;
}

header {
  text-align: center;
  margin-top: 6em;
}

h1{
  font-size: 3em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  letter-spacing: -2px;
}

h2{
  color: grey;
  font-weight: normal;
  margin-top: 0.1em;
}

h3{
  font-weight: normal;
  margin: 0.5em 0em;
}
img{
  border-radius: 50%;
}
span{
  colour: #EB298C;
}

main{
  width: 550px;
  margin: 0 auto;
}
article{
display: flex;
align-items: flex-start;


}
section{
  margin-left: 1.3em;
}
a{
  text-decoration: none;

}
a:hover{
  text-decoration: underline;
}

p{
  line-height: 1.5em;
}
